<h1>Sign Up: </h1>
<form action='/registration' method="post">
  <label>Full Name: </label><input type="text" name="full_name">
  <label>Username: </label><input type="text" name="username">
  <label>Password: </label><input type="password" name="password">
  <label>Confirm Password: </label><input type="password" name="confirm_password">
  <input type="submit" value="Sign Up">
</form>