<h2>Open a New Account</h2>

<form action='/accounts' method="post">
  <p>
    <label for="account_type">Account Type: </label>
    <ul>
      <li><label for="checking">&nbsp;&nbsp;&nbsp;&nbsp; Checking </label><input type="radio" name="account_type" value="checking" required></li>
      <li><label for="savings">&nbsp;&nbsp;&nbsp;&nbsp; Savings </label><input type="radio" name="account_type" value="savings" required></li>
    </ul>
    <br>
    
    
    <label for="balance">Opening Balance: $</label><input type="text" name="balance"><br>
    <br>
    <input type="submit" value="Open New Account">
  </p>
  
</form>



<br>
<br>
