<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">





<h1>Open a New Account</h1>

<form action='/accounts' method="post">
  <p>
    <label for="account_type">Account Type: </label><br>
    <ul>
      <li><label for="checking">Checking</label><input type="radio" name="account_type" value="checking"></li>
      <li><label for="savings">Savings</label><input type="radio" name="account_type" value="savings"></li>
    </ul>
    
    
    <label for="balance">Opening Balance: $</label><input type="text" name="balance"><br>
    <br>
    <input type="submit" value="Open New Account">
  </p>
  
</form>