<!--<h1>Open a New Account</h1>-->

<!--<form action='/accounts' method="post">-->
<!--  <p>-->
<!--    <label for="account_type">Account Type: </label><br>-->
<!--    <ul>-->
<!--      <li><label for="checking">Checking</label><input type="radio" name="account_type" value="checking"></li>-->
<!--      <li><label for="savings">Savings</label><input type="radio" name="account_type" value="savings"></li>-->
<!--    </ul>-->
    
    
<!--    <label for="balance">Opening Balance: $</label><input type="text" name="balance"><br>-->
<!--    <br>-->
<!--    <input type="submit" value="Open New Account">-->
<!--  </p>-->
  
<!--</form>-->